@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surface-hover: #27272a;
  
  --color-accent: var(--accent-color);
  --color-accent-hover: var(--accent-hover);
}

:root {
  --accent-color: #f43f5e;
  --accent-hover: #e11d48;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: #f8fafc;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* Custom minimal scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
